* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

.game {
    text-align: center;
}

.timer {
    margin-top: 0;
}

#timer-mutable {
    transition: text-shadow .5s ease;
}

.timer-mutable--highlighted {
    text-shadow: 0px 0px 10px grey;
}

.board-row {
    display: flex;
}

.board-field {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform .5s ease;
}

.board-field img {
    height: 50%;
}

.board-field--reversed {
    transform: rotateY(180deg);
    background-image: url('assets/reversed.png');
    background-size: 100%;
}

#play-button {
    margin: 20px;
}